.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.main-navbar-brand img {
  margin-right: 0.5rem;
}

.main-navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.main-navbar-links li {
  display: inline;
}

.main-navbar-links a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.main-navbar-links a:hover {
  background-color: #f0f0f0;
}
.auth-logout-button{
  color: #333;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: contents;
}
.auth-logout-button:hover{
  background-color: #f0f0f0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-navbar-links {
    flex-direction: column;
    gap: 1rem;
  }

  .main-navbar-links li {
    margin: 0.5rem 0;
  }
} 